[submodule "bot/external_repos/Crypto-History-Scraper-BinanceApi"]
	path = bot/external_repos/Crypto-History-Scraper-BinanceApi
	url = https://github.com/Sugarcube08/Crypto-History-Scraper-BinanceApi.git
[submodule "bot/external_repos/cryptocurrency-scraper"]
	path = bot/external_repos/cryptocurrency-scraper
	url = https://github.com/genfuture/cryptocurrency-scraper.git
[submodule "bot/external_repos/backtrader"]
	path = bot/external_repos/backtrader
	url = https://github.com/mementum/backtrader.git
[submodule "bot/external_repos/backtesting.py"]
	path = bot/external_repos/backtesting.py
	url = https://github.com/kernc/backtesting.py.git
[submodule "bot/external_repos/quant-trading"]
	path = bot/external_repos/quant-trading
	url = https://github.com/je-suis-tm/quant-trading.git
[submodule "bot/external_repos/indonesia-stocks-scraper"]
	path = bot/external_repos/indonesia-stocks-scraper
	url = https://github.com/basnugroho/indonesia-stocks-scraper.git
[submodule "bot/external_repos/ForexTrackerpro"]
	path = bot/external_repos/ForexTrackerpro
	url = https://github.com/Burnie04/ForexTrackerpro.git
[submodule "bot/external_repos/Forex-analyzer-X-scrapper"]
	path = bot/external_repos/Forex-analyzer-X-scrapper
	url = https://github.com/yusufelgen07/Forex-analyzer-X-scrapper.git
[submodule "bot/external_repos/Investing.com-Scraper"]
	path = bot/external_repos/Investing.com-Scraper
	url = https://github.com/pikiaboy/Investing.com-Scraper.git
[submodule "bot/external_repos/ForexScraper"]
	path = bot/external_repos/ForexScraper
	url = https://github.com/cponeill/ForexScraper.git
